<h4 class="pl-pattern-subtitle">Large</h4>
{{# listRadio1 }}
{{> components-list-item-link("listGroupLg":true) }}
{{/ listRadio1 }}

<h4 class="pl-pattern-subtitle">Default</h4>
{{# listRadio2 }}
{{> components-list-item-link }}
{{/ listRadio2 }}