<h4 class="pl-pattern-subtitle">Large</h4>
{{# listCheckbox1 }}
{{> components-list-item-link("listGroupLg":true) }}
{{/ listCheckbox1 }}

<h4 class="pl-pattern-subtitle">Default</h4>
{{# listCheckbox2 }}
{{> components-list-item-link }}
{{/ listCheckbox2 }}